@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

body {
    font-family: 'Single Day', cursive;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    background-color: #fafafa;
    font-size: 1.5em;
}

.title {
    font-size: 2rem;
    font-family: 'Single Day', cursive;
    margin: 1 auto;
    align-items: center;
    padding: 1.5rem;
    display:flex;
    justify-content: center;
    height: 1.5rem;
    width: 8em;
    transform: skew(0, -2deg);
    background-color: white;
}

.title:hover {
   text-decoration: underline;
}

.game-container {
    width: 320px;
    height: 320px;
    border: 1px solid rgb(109, 109, 109);
    overflow: hidden;
    
} 

.game-background {
    box-shadow: 0 0 0 1px;
    /*background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    */overflow: hidden;
    
}

.fancy {
    box-shadow: #000 0px 2px 0 0px;
    position: relative;
    white-space: nowrap;
    text-shadow: #000 0px 1px 1px;
    &:after {
      --deco-height: 0.3125em;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: calc(var(--deco-height) * -0.625);
      height: var(--deco-height);
      background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-size: auto 100%;
      background-repeat: round;
      background-position: 0em;
    }
    
  }

  .button-50 {
    outline: none;
    user-select: none;
    color: #000;
    font-size: 1.5rem;
    letter-spacing: 0.04rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: .5rem;
    border: .2rem solid #000;
    background: #fff;
    position: relative;
    overflow: hidden;
  
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%; 
      top: 0;
      left: 0;
      transform: scale(0);
      transition: transform .3s ease-in;
      mix-blend-mode: difference;
      background: radial-gradient(
        circle at center, 
        #fff 24%, 
        #000 25%, 
        #000 100%);
    }  
  
    box-shadow: 0 3px 0 0 #000;
    &:active {
      top: 3px;
      box-shadow: none;
    }
}

.button-50:focus {
    text-decoration: none;
  }
  
  .button-50:hover {
    text-decoration:underline;
  }
  
  .button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 1;
  }

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.cell {
    width: 77px;
    height: 77px;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #000;
}

.cell:hover {
    box-shadow: 0 0 0 2px;
    outline: 1;
    font-size: 2em;
}

.score-container {
    width: 320px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.cell[data-value="2"] {
    color: black;
    background-color: #eee4da;
}
.cell[data-value="4"] {
    color: black;
    background-color: #ede0c8;
}
.cell[data-value="8"] {
    color: white;
    background-color: #f2b179;
}
.cell[data-value="16"] {
    color: white;
    background-color: #f59563;
}
.cell[data-value="32"] {
    color: white;
    background-color: #f67c5f;
}
.cell[data-value="64"] {
    color: white;
    background-color: #f65e3b;
}
.cell[data-value="128"] {
    color: white;
    background-color: #edcf72;
}
.cell[data-value="256"] {
    color: white;
    background-color: #edcc61;
}
.cell[data-value="512"] {
    color: white;
    background-color: #edc850;
}

.cell[data-value="1024"] {
    color: white;
    background-color: #edc53f;
}

.cell[data-value="2048"] {
    color: white;
    background-color: #edc22e;
}

.cell[data-value="4096"] {
    color: white;
    text-decoration: wavy;
    background-color: #ed382e;
}

#restart-btn {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #f4f4f4;
    border: none;
    transition: all 0.3s ease-in;
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px;
    outline: #000 1px outset;
    outline: #000 2px inset;
}

#restart-btn:hover {
  size: 75%;
}

#game-over {
    position:absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0,0,0);
    color: #fff;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-cell[data-value] {
    transition: transform 0.2s, background-color 0.2s;
}

.new-tile {
    animation: appear 0.3s;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

